 <footer class="bg-darkgray d-flex justify-content-center align-items-center py-3">
            <ul class="social-links">

                <a href="https://github.com/CodyNewton" target="_blank" class="btn rounded p-0"><i class="bi bi-github"></i></a>
    
            </ul>
    
</footer>
</body>
</html>