     <header>
        <nav class="navbar navbar-expand-lg bg-dark bg-gradient borde-bottomn border-body"data-bs-theme="dark" >
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="../Views/home.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../Views/Hobbies.html">Hobbies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../Views/Projects.html">Projects</a>
                        </li>
                    </ul>
                    <img src="../Resources/img/F-16.jpg" alt="F-16" class="ms-auto img-fluid rounded " width="40">
                </div>
            </div>
        </nav>
        </header>