{{#> layout name="main" }}
<body class="d-flex flex-column vh-100 bg-secondary text-white">
       <main class="container mt-5">
        <div class ="row justify-content-center">
            <h1>Interests</h1>
        <div class="card bg-dark text-white col-md-4" style="width: 18rem;">
            <img src="Submission/Resources/img/Gym.jpg" class="card-img-top" alt="Gym">
            <div class="card-body">
              <h5 class="card-title">Gym</h5>
              <p class="card-text">One of my biggest hobbies is the gym. It helps me to keep focused and centered in life. </p>
            </div>
          </div>
          <div class="card bg-dark text-white col-md-4" style="width: 18rem;">
            <img src="Submission/Resources/img/Hiking.jpg" class="card-img-top" alt="Hiking Trail">
            <div class="card-body">
              <h5 class="card-title">Hiking</h5>
              <p class="card-text">Another hobby I have is hiking. I like to get out into nature and see all the beauty it has to offer. </p>
            </div>
          </div>
          <div class="card bg-dark text-white col-md-4" style="width: 18rem;">
            <img src="Submission/Resources/img/Hunting.jpg" class="card-img-top" alt="Deer in a field">
            <div class="card-body">
              <h5 class="card-title">Hunting </h5>
              <p class="card-text">I also like to go hunting. It puts a different perspective on the ways of life we as first world citizens have and makes me more thankful for all the commodities we have. </p>
            </div>
          </div>
        </div>
       </main>        
   </body>
{{/layout}}
