{{#> layout name="main" }}
 <body class="d-flex flex-column vh-100 bg-secondary text-white">

            
        <main class="flex-grow-1">
            <section class="intro">
              <div class="row align-items-center d-flex flex-column vh-75">
                <div class="col-md-4 container text-center mt-auto">
                    <img src="../Resources/img/Profile_picture.jpg" alt="Profile Picture" class="img-fluid rounded-circle" width="200" >
                </div>
                <div class="description col-md-8 container text-center mt-auto">
                    <h1>Welcome to My Website</h1>
                    <p >Hi! I'm Cody Newton. This is my personal website where I showcase my hobbies and projects. I am currently a 
                        sophmore in the Aerospace Engineering Department at CU Boulder. I am also in the Air National Guard, where I work on F-16s. 
                    </p>
                    <a href="../Views/resume.html"class="text-white">View My Resume</a>
                </div>
              </div>
            </section>
        </main>
        

    </body>
{{/layout}}
